.checkout-container {
  max-width: 500px;
  margin: auto;
  padding: 15px;
}

.checkout-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.checkout-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

/* Payment */

.payment {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
}

.payment label {
  font-weight: 500;
}

/* Summary */

.summary {
  background: #f9fafb;
  padding: 12px;
  border-radius: 10px;
  margin-top: 10px;
}

.summary p {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.total {
  text-align: right;
  margin-top: 10px;
}

/* Button */

.place-btn {
  width: 100%;
  padding: 14px;
  background: #198754;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  margin-top: 15px;
}

.place-btn:hover {
  background: #146c43;
}

/* Mobile */

@media(max-width:360px){
.summary p{
  font-size:14px;
}
}
