.form-container {
  width: 360px;
  margin-top: 80px;
  padding: 25px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.form-container input:focus {
  outline: none;
  border-color: #198754;
}

/* Button */

.form-container button {
  width: 100%;
  padding: 12px;
  background: #198754;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
}

.form-container button:hover {
  background: #146c43;
}

/* Mobile */

@media(max-width:400px){
.form-container{
  width:95%;
}
}
